nav{
  border-bottom: 2px solid yellow;
}

.navigation li {
  display: inline;
  margin: 0 1em;
}

.navigation a {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation a.selected {
  font-weight: bold;
  color: #1cc75b;
  border-bottom: 1px solid #1cc75b;
}
